:root {
  --background-and-textdark-blue: rgba(21, 29, 81, 1);
  --background-and-textstone: rgba(230, 226, 221, 1);
  --background-and-textwhite: rgba(255, 255, 255, 1);
  --background-text-dark-blue: rgba(21, 29, 81, 1);
  --background-text-white: rgba(255, 255, 255, 1);
  --buttons-CTA-button-18-28-font-family: "Moderat-Bold", Helvetica;
  --buttons-CTA-button-18-28-font-size: 18px;
  --buttons-CTA-button-18-28-font-style: normal;
  --buttons-CTA-button-18-28-font-weight: 700;
  --buttons-CTA-button-18-28-letter-spacing: -0.5400000214576721px;
  --buttons-CTA-button-18-28-line-height: 28px;
  --buttons-supportive-button-16-30-font-family: "Moderat-Bold", Helvetica;
  --buttons-supportive-button-16-30-font-size: 16px;
  --buttons-supportive-button-16-30-font-style: normal;
  --buttons-supportive-button-16-30-font-weight: 700;
  --buttons-supportive-button-16-30-letter-spacing: -0.25px;
  --buttons-supportive-button-16-30-line-height: 30px;
  --dark: rgba(21, 29, 81, 1);
  --desktop-p3-16-22-font-family: "Moderat-Regular", Helvetica;
  --desktop-p3-16-22-font-size: 16px;
  --desktop-p3-16-22-font-style: normal;
  --desktop-p3-16-22-font-weight: 400;
  --desktop-p3-16-22-letter-spacing: -0.24888889491558075px;
  --desktop-p3-16-22-line-height: 22px;
  --header-h3-32-36-font-family: "Moderat-Bold", Helvetica;
  --header-h3-32-36-font-size: 32px;
  --header-h3-32-36-font-style: normal;
  --header-h3-32-36-font-weight: 700;
  --header-h3-32-36-letter-spacing: -0.8500000238418579px;
  --header-h3-32-36-line-height: 36px;
  --highlight-colours-red: rgba(237, 95, 89, 1);
  --highlightamber: rgba(245, 172, 76, 1);
  --highlightorange: rgba(223, 114, 58, 1);
  --mobile-h1-36-36-font-family: "Moderat-Bold", Helvetica;
  --mobile-h1-36-36-font-size: 36px;
  --mobile-h1-36-36-font-style: normal;
  --mobile-h1-36-36-font-weight: 700;
  --mobile-h1-36-36-letter-spacing: -0.4355555474758148px;
  --mobile-h1-36-36-line-height: 36px;
  --mobile-h2-26-30-font-family: "Moderat-Bold", Helvetica;
  --mobile-h2-26-30-font-size: 26px;
  --mobile-h2-26-30-font-style: normal;
  --mobile-h2-26-30-font-weight: 700;
  --mobile-h2-26-30-letter-spacing: -0.4399999976158142px;
  --mobile-h2-26-30-line-height: 30px;
  --mobile-h4-18-22-font-family: "Moderat-Bold", Helvetica;
  --mobile-h4-18-22-font-size: 18px;
  --mobile-h4-18-22-font-style: normal;
  --mobile-h4-18-22-font-weight: 700;
  --mobile-h4-18-22-letter-spacing: -0.4170212745666504px;
  --mobile-h4-18-22-line-height: 22px;
  --mobile-p2-16-20-font-family: "Moderat-Regular", Helvetica;
  --mobile-p2-16-20-font-size: 16px;
  --mobile-p2-16-20-font-style: normal;
  --mobile-p2-16-20-font-weight: 400;
  --mobile-p2-16-20-letter-spacing: -0.24888889491558075px;
  --mobile-p2-16-20-line-height: 20px;
  --mobile-p3-14-18-font-family: "Moderat-Regular", Helvetica;
  --mobile-p3-14-18-font-size: 14px;
  --mobile-p3-14-18-font-style: normal;
  --mobile-p3-14-18-font-weight: 400;
  --mobile-p3-14-18-letter-spacing: 0px;
  --mobile-p3-14-18-line-height: 18px;
  --paragraph-p2-16-20-bold-font-family: "Moderat-Bold", Helvetica;
  --paragraph-p2-16-20-bold-font-size: 16px;
  --paragraph-p2-16-20-bold-font-style: normal;
  --paragraph-p2-16-20-bold-font-weight: 700;
  --paragraph-p2-16-20-bold-letter-spacing: -0.4170212745666504px;
  --paragraph-p2-16-20-bold-line-height: 20px;
  --paragraph-p2-16-20-font-family: "Moderat-Regular", Helvetica;
  --paragraph-p2-16-20-font-size: 16px;
  --paragraph-p2-16-20-font-style: normal;
  --paragraph-p2-16-20-font-weight: 400;
  --paragraph-p2-16-20-letter-spacing: -0.3199999928474426px;
  --paragraph-p2-16-20-line-height: 20px;
  --paragraph-p3-14-18-bold-font-family: "Moderat-Bold", Helvetica;
  --paragraph-p3-14-18-bold-font-size: 14px;
  --paragraph-p3-14-18-bold-font-style: normal;
  --paragraph-p3-14-18-bold-font-weight: 700;
  --paragraph-p3-14-18-bold-letter-spacing: -0.25999999046325684px;
  --paragraph-p3-14-18-bold-line-height: 18px;
  --primary-turquoise: rgba(92, 214, 192, 1);
  --primary-vivid-blue: rgba(72, 63, 221, 1);
  --primarymid-purple: rgba(124, 66, 213, 1);
  --primaryturquoise: rgba(92, 214, 192, 1);
  --primaryvivid-blue: rgba(72, 63, 221, 1);
  --uicool-grey: rgba(202, 203, 202, 1);
  --white: rgba(255, 255, 255, 1);
}
